<script type="text/javascript">
    $(function () {
        $("#@ViewBag.CurrentTab").addClass("hover");
        //$(".main_menu ul li").click(function () {
        //    var index = $(".main_menu ul li").index(this);
        //$(this).addClass("hover").siblings().removeClass("hover");
        //$(".showId").eq(index).show().siblings().hide();

        $("#QueueTab").click(function () {
            window.location.href = "/Manager/QueueCall/index";
        });
        $("#HistoryTab").click(function () {
            window.location.href = "/Manager/HistoryData/index";
        });
        $("#WindowTab").click(function () {
            window.location.href = "/admin/ReceiveArea/index";
        });
        //});
    });
</script>

<div class="inner_table_head">
    <ul>
        <li id="QueueTab">排队管理</li>
        <li id="WindowTab">窗口管理</li>
        <li id="HistoryTab">历史报表</li>

    </ul>
</div>