<script type="text/javascript">
    $(function () {
        $("#@ViewBag.CurrentTab").addClass("hover");
        //$(".main_menu ul li").click(function () {
        //    var index = $(".main_menu ul li").index(this);
        //$(this).addClass("hover").siblings().removeClass("hover");
        //$(".showId").eq(index).show().siblings().hide();

        $("#UserTab").click(function () {
            window.location.href = "/admin/user/index";
        });
        $("#WindowTab").click(function () {
            window.location.href = "/admin/ReceiveArea/index";
        });

        $("#SystemSettingTab").click(function () {
            window.location.href = "/admin/Systemsetting/index";
        });
        //});
    });
</script>

<div class="inner_table_head">
    <ul>
        <li id="UserTab">用户管理</li>
        <li id="WindowTab">窗口管理</li>
        <li id="SystemSettingTab">系统设置</li>
    </ul>
</div>