<script type="text/javascript">
    $(function () {
        $("#@ViewBag.CurrentTab").addClass("hover");
        //$(".main_menu ul li").click(function () {
        //    var index = $(".main_menu ul li").index(this);
        //$(this).addClass("hover").siblings().removeClass("hover");
        //$(".showId").eq(index).show().siblings().hide();
        $("#QueueTab").click(function () {
            window.location.href = "/Manager/QueueCall/index";
        });
        $("#ReceiverTab").click(function () {
            window.location.href = "/Receiver/ChoiceArea/index";
        });
        $("#HistoryTab").click(function () {
            window.location.href = "/Receiver/HistoryData/index";
        });
        //});
    });
</script>

<div class="inner_table_head">
    <ul>
        <li id="ReceiverTab">收料员收货</li>
        <li id="QueueTab">排队信息</li>
        <li id="HistoryTab">收货历史</li>
    </ul>
</div>